@import url(/header.css);

body{
    margin: auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* width: 100%; */
}
#moteur{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*caroussel*/ 
.caroussel{
    position:relative;
margin-top: 5em;
display: flex;
justify-content: space-around;
width: 80%;
}
.caroussel img:hover{
    width: 125%;
}
.carouselDivImg{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    object-fit: cover;

}
.carouselDivDescription{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.caroussel button{
    /* position: absolute;
    left:18em;
    top: 27em; */
    padding: 6px 15px;
}
.caroussel h1{
    /* position: absolute;
    left:2em;
    top:4em; */
    font-size: 4em;
    margin: 0%;
}

